<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Address Book</title></head>
<body>
<h2>AddressBook [[${book.id}]]</h2>

<ul>
    <li th:each="b : ${book.buddyList}">
        [[${b.buddyName}]] - [[${b.phoneNumber}]]
    </li>
</ul>

<h3>Add Buddy</h3>
<form th:action="@{/addressbook/{id}/addBuddy(id=${book.id})}" method="post">
    <input type="text" name="name" placeholder="Buddy name" required>
    <input type="text" name="phoneNumber" placeholder="Phone number" required>
    <button type="submit">Add Buddy</button>
</form>

<a href="/">Back</a>

</body>
</html>
